		<form id="form1" action="/ajouter" method="post">
			<h2>Ajouter un utilisateur</h2>
			<p><label> Nom: </label>
			<input type="text" id="nom" name="nom"></input></p>
			<p><label> prenom: </label>
			<input type="text" id="prenom" name="prenom"></input></p>
			<input type="submit" value="Ajouter"></input>
		</form>
		<form id="form2" action="/supprimer" method="post">
			<h2>Supprimer un utilisateur</h2>
			<p><label> Nom: </label>
			<input type="text" id="nomSup" name="nomSup"></input></p>
			<p><label> prenom: </label>
			<input type="text" id="prenomSup" name="prenomSup"></input></p>
			<input type="submit" value="Supprimer"></input>
		</form>