<html>
    <head>
        <title>Identification</title>
    </head>
    <body>
        <h1>Identifiez vous</h1>

		<form id="form1" action="/connecter" method="post">
			<p><label> Login: </label>
			<input type="text" id="login" name="login"></input></p>
			<p><label> mot de passe: </label>
			<input type="text" id="mdp" name="mdp"></input></p>
			<input type="submit" value="Connecter"></input>
		</form>
	</body>
</html>
